<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="favicon.ico">
<link href="__PUBLIC__/admin/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/admin/assets/css/font-awesome.min.css" rel="stylesheet">
<!-- Data Tables -->
<link href="__PUBLIC__/admin/assets/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/admin/assets/css/animate.min.css" rel="stylesheet">
<link href="__PUBLIC__/admin/assets/css/style.min.css" rel="stylesheet"><base target="_blank">