<!DOCTYPE html>
<html>
<head>
    <include file="Public/header" />
    <!-- 自定义样式可以直接写在这 -->
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>商品管理</h5>
                </div>
                <!--  -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <form role="form" class="form-inline" action="{:U('admin/goods/lists')}" method="get" target="_self">
                                    <div class="form-group">
                                        <label for="exampleInputEmail2" class="">商品名称:</label>
                                        <input type="text" placeholder="请输入商品名" id="exampleInputEmail2" class="form-control" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword2" class="">:所属分类</label>
                                        <select class="form-control" name="classify_id">
                                             <option value="all">全部商品</option>
                                            <?php foreach ($classifylists as $value) {?>
                                        <option disabled value="<?php echo $value['id'];?>"><?php echo $value['name'];?></option>
                                        <?php foreach ($value['child'] as $v) { ?>
                                            <option value="<?php echo $v['id'];?>">&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $v['name'];?></option>
                                        <?php } ?>
                                    <?php }?>
                                        </select>
                                    </div>
                                    <button class="btn btn-white" type="submit">搜索</button>
                                    <a href="{:U('admin/goods/edit')}" class="btn btn-primary" type="submit" target="_self">新增</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>商品名字</th>
                            <th>分类</th>
                            <th>价格</th>
                            <th>市场价格</th>
                            <th>库存</th>
                            <th>商家</th>
                            <th>状态</th>
                            <th>hot</th>
                            <th>图片</th>
                            <th>edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="lists" id="vo">
                            <tr class="gradeX">
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{$class[$vo['classify_id']]}</td>
                                <td>{$vo.price}</td>
                                <td>{$vo.market_price}</td>
                                <td>2</td>
                                <td>{$seller[$vo['seller_id']]}</td>
                                <td><?php if($vo['status']){ ?>
                                    <a href="{:U('admin/goods/outline',array('id'=>$vo['id']))}" target="_self">下线</a>
                                <?php } else { ?>
                                    <a href="{:U('admin/goods/online',array('id'=>$vo['id']))}" target="_self">上线</a>
                                <?php } ?>
                                </td>
                                <td><?php if($vo['is_hot']){ ?>
                                    <a href="{:U('admin/goods/nohot',array('id'=>$vo['id']))}" target="_self">否</a>
                                <?php } else { ?>
                                    <a href="{:U('admin/goods/ishot',array('id'=>$vo['id']))}" target="_self">是</a>
                                <?php } ?>
                                </td>
                                <td><a href="{:U('admin/GoodsPic/add',array('id'=>$vo['id']))}">上传图片</a></td>
                                 <td><a href="{:U('admin/goods/edit',array('id'=>$vo['id']))}">edit</a></td>
                            </tr>
                        </volist>
                        </tbody>
                         <!-- <tfoot> -->
                            <tr>
                                <td colspan="10">
                                    {$page}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" />
</body>
</html>