body,html,a,div,li,ul,span,p,i,input,h3,sup,dt,dl,dd{
	padding: 0;
    margin: 0;
}
a {
	text-decoration: none;
}
.box-header {
	background-color: #F5F5F5;
}
.new-header {
	width: 1224px;
	margin: 0 auto;
	line-height: 30px;
	background-color: #F5F5F5;
}
.clearfix::after {
	display: block;
	content: "";
	clear: both;
	height: 0;
}
.header-right {
    float: right;
}
.header-right>ul li {
	display: inline-block;
	float: left;
}
.header-left {
	font-size: 12px;
}
.header-left>a {
	display: inline-block;
	color: #666;
	font-size: 12px;
}
.header-left>a>i {
	width: 17px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
	background: url("../image/btn.png") no-repeat;
}
.city-hide {
	width: 550px;
	position: absolute;
	top: 26px;
	left: 86px;
	background-color: #fff;
	z-index: 1001;
	padding: 12px 8px;
	border: 1px solid #eee;
}
.choose-city {
	border-bottom: 1px solid #edd28b;
}
.city-hide .choose-city>a {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid #ccc;
}
.new-header>div {
	display: inline-block;
}
.new-login {
	margin-left: 60px;
}
.new-login>a {
	font-size: 12px;
	color: #666;
}
.new-login>a:first-child {
	color: red;
}
.header-ul>li>a {
	position: relative;
	line-height: 30px;
	color: #666;
	font-size: 12px;
    padding: 0 13px;
    border: 1px solid #F5F5F5;
    border-right: 1px solid rgba(0,0,0,0.09);
}
.header-right .web i {
	width: 17px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 6px;
	background: url("../image/btn.png") no-repeat;
}
.header-right .webb {
	display: inline-block;
	position: relative;
}
.webb:hover {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
.header-ul>li:hover .web-hide {
	display: block;
}
.bigs {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 74px;
	height: 31px;
	z-index: 1001;
	border-bottom: 1px solid #fff;
}
.web-hide {
	display: block;
	position: absolute;
	padding: 5px 8px;
	right: 63px;
	top: 32px;
	z-index: 1000;
	width: 150px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.web-about {
	display: inline-block;
	width: 72px;
	padding: 3px 0;
	color: #666;
	font-size: 12px;
	text-align: center;
}
.header-right>a:last-child {
	border-right: 0;
}
.header-right>a:hover {
	color: #e23435;
}
.nav-search {
	position: relative;
	width: 1224px;
	height: 90px;
    background-color: #fff;
	margin: 30px auto 10px;
	clear: both;
}
.nav-search>div {
	display: inline-block;
}
.search-middle {
	margin-left: 377px;
}
.search-text>input {
	width: 388px;
	height: 24px;
	border: 2px solid #e23435;
	color: #666;
	padding: 3px 6px;
}
.search-text>a {
	width: 100px;
	height: 34px;
	background-color: #e23435;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 34px;
}
.search-text>input:focus {
	outline: 0;
}
.search-text>input ,.search-text>a {
	display: inline-block;
	float: left;
}
.search-middle>span {
	display: block;
	margin-top: 3px;
}
.search-middle>span:last-child>a {
	font-size: 12px;
	padding: 0 6px;
	color: #999;
}
.search-middle>span:last-child>a:hover {
	color: #e23435;
}
.search-middle>span:last-child>a:first-child {
	padding: 0 6px 0 0;
}
.shoping-abo {
	position: relative;
	float: right;
	width: 180px;
	height: 34px;
}
.shoping {
	position: absolute;
	right: -1px;
	z-index: 999;
	border: 1px solid #ccc;
	color: #e23435;
	width: 180px;
    padding: 4px 0;
    font-size: 12px;
    text-align: center;
}
.shoping-abo:hover .shoping-a {
	display: block;
}
.shoping-abo:hover .shoping {
	 border-bottom: 1px solid #fff;
}
.shoping>i {
	display: inline-block;
	background: url("../image/ico-tphsop-index.png") no-repeat -200px -40px;
	width: 20px;
	height: 18px;
	margin-right: 12px;
	vertical-align: middle;
}
.shoping>sup {
	background-color:#e23435;
	color: #fff;
	padding: 0 4px;
	border-radius: 100%; 
}
.shoping-a {
	position: absolute;
	top: 33px;
	right: -1px;
	z-index: 0;
	width: 250px;
	padding: 15px;
	background-color: #fff;
    border: 1px solid #ccc;
}
.shoping-a>span {
	position: relative;
	display: block;
	font-size: 12px;
	color: #999;
	text-align: center;
}
.shoping-a>span>i {
	position: relative;
	background:url("../image/ico-tphsop-index.png") no-repeat;
    background-position: -315px 0;
    display: inline-block;
    width: 50px;
    padding-right: 10px;
    height: 50px;
    vertical-align: middle;
}
.nav-box, .nav-carousel {
	position: relative;
}
.nav-carousel {
	width: 100%;
}
.nav-select {
	width: 750px;
	margin: 0 auto;
}
.nav-box {
	clear: both;
}
.nav-select>a {
	display: inline-block;
	padding: 10px 7px;
	color: #333;
	margin: 0 7px;
	font-size: 16px;
	border-bottom: 2px solid #fff;
}
.nav-select>a:hover {
	color: #e23435;
	border-bottom: 2px solid #e23435;
}
ul {
	list-style: none;
}
.carousel-img {
	position: relative;
	height: 450px;
	overflow: hidden;
}
.new-carousel>a {
	position: relative;
	display: inline-block;
	float: left;
	width: 1349px;
	height: 450px;
	text-align: center;
}
.new-carousel {
    width: 10000px;
	margin-left: -1349px;  
}
.new-carousel>a>img {
	width: 814px;
	height: 450px;	
}
.pagin {
	position: relative;
	bottom: 42px;
	text-align: center;
	width: 200px;
    left: 50%;
    margin-left: -50px;
}
.pagin>a {
	display: inline-block;
	float: left;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	margin-right: 8px;
	border-radius: 50%;
}
.pagin>a:hover {
	background-color: #fff;
}
.pagin>a:active {
	background-color: #fff;
}
.page>a{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 40px;
	height: 80px;
	z-index: 99;
	background-color: #000;
	opacity: 0.2;
}
.two-ad {
	position: absolute;
	right: 64px;
	width: 200px;
	height: 450px;
}
.two-ad>a {
    display: block;
    width: 200px;
    height: 210px;
    opacity: 0.8;
    margin-bottom: 10px;
    margin-top: 10px;
}
.two-ad>a:hover{
	opacity: 1.5;
}
.page>a:hover {
	opacity: 0.5;
}
.last-page {
	margin-left: -380px;
	background:url("../image/ico-arrow-banner.png") no-repeat -2px 0;
}
.next-page {
    margin-left: 347px;
	background:url("../image/ico-arrow-banner.png") no-repeat -42px 0;
}
.pagin .active {
	background-color: #fff;
}
.nav-goods {
	position: absolute;
	left:58px;
	top: -40px;
	height: 490px;
	background-color: rgba(255,255,255,0.9);
}
.nav-goods>div:first-child {
	background-color: #333;
	font-size: 16px;
	padding: 0 0 0 30px;
	width: 180px;
	height: 40px;
	line-height: 40px;
}
.nav-goods>div:first-child>a {
	color: #fff;
}
.nav-goods>div:first-child:hover {
	background-color: #333;
}
.nav-goods>div:first-child>a:hover {
	color: #fff;
}
.nav-goods .ico-0 {
	background-position: 0 0;
}
.nav-goods .ico-1 {
	background-position: -25px 0;
}
.nav-goods .ico-2 {
	background-position: -50px 0;
}
.nav-goods .ico-3 {
	background-position: -75px 0;
}
.nav-goods .ico-4 {
	background-position: -100px 0;
}
.nav-goods .ico-5 {
	background-position: -125px 0;
}
.nav-goods .ico-6 {
	background-position: -150px 0;
}
.nav-goods .ico-7 {
	background-position: -175px 0;
}
.nav-goods>div:first-child>a>i {
    margin-right: 8px
}
.nav-goods>div {
	position: relative;
	z-index: 9999;
    display: block;
	font-size: 14px;
	text-align: left;
	padding: 16px 0 16px 30px;
	border-bottom: 1px solid #f1f1f1
}
.nav-goods>div>a {
	color: #333;
}
.nav-goods>div:hover {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
.nav-goods>div>a:hover {
	color: #e23435;	
}
.nav-goods>div>a>i {
	display: inline-block;
	width: 25px;
	height: 27px;
	margin-bottom: -3px;
	margin-right: 20px;
	vertical-align: text-bottom;
	background:url("../image/ico-tphsop-index.png") no-repeat;
}
.make {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	height: 56px;
	width: 2px;
	position:absolute;
	left: 208.5px;
	top: -1px;
	z-index: 19;
	background-color: #fff;
}
.classify {
	position: absolute;
	top: -1px;
	left: 210px;
	width: 1015px;
	z-index: 9;
	border: 1px solid #333;
	background-color: #fff;
}
.new-classify {
	padding: 20px 20px 20px 30px;
	width: 660px;
}
.classify>div {
	display: inline-block;
	float: left;
}
.make-img {
	width:300px;
	height: 448px;
}
.make-img>img {
	width: 300px;
	height: 440px;
}
#expret>a{
	display: inline-block;
	padding: 5px ;
	font-size: 12px;
	color: #fff;
	margin: 10px 0;
    background-color: #ff5e5f;
}
#expret>a>i {
	font-family: consolas;
    margin-left: 3px;
    font-style: normal;
	display: inline-block;
}
.new-classify>p>a {
	display: inline-block;
	padding: 0 8px ;
	color: #666;
	font-size: 12px;
	border-left: 1px solid #e5e5e5;
	/*margin: 15px 0;*/
}
.new-classify>p {
	padding: 13px 0;
}
.classify .new-classify>p>a:hover {
	color: #e34535;
}
.new-classify>p>a:first-child {
	color: #000;
	font-weight: 700;
	border-left: 0;
	width: 62px;
	padding: 0 10px 0 0;
}
.hide {
	display: none;
}
.content {
	width: 100%;
	/*margin: 0 auto;*/
	padding: 20px 0 0 0;
	background-color: #F5F5F5;
}
.box-ad {
	width: 1224px;
	height: 180px;
	margin: auto;
	margin-bottom: 20px;
	background: -webkit-linear-gradient(left, #E74145 , #E86ACD,#6F5AE3); 
	background: -o-linear-gradient(right, #E74145, #E86ACD,#6F5AE3); /
	background: -moz-linear-gradient(right, #E74145, #E86ACD,#6F5AE3); 
	background: linear-gradient(to right, #E74145 , #E86ACD,#6F5AE3); 
}
.box-ad>a {
	margin-top: 6px;
	display: inline-block;
	float: left;
	width: 400px;
	height: 168px;
    margin-left:6px; 
}
.long-ad {
	width: 1224px;
	height: 110px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
}
.long-ad>a {
	display: block;   
}
.long-ad>a>img {
	width: 1224px;
	height: 110px;
}
.new-fullpage {
	padding: 20px 0 10px 0;
}
.section {
	width: 1224px;
	margin: 0 auto;
	padding: 25px 0 10px 0;
}
.section>div {
	display: inline-block;
	float: left;
}
.section>p {
	margin-bottom: 15px;
}
.section>p>a {
	padding: 0 10px 0 10px;
	font-size: 14px;
	color: #666;
}
.section>p>a:hover {
	color: #e34535;
}
.section>p>a:last-child {
	float: right;
	font-family: consolas;
    font-style: normal;
}
.section-left {
	width: 240px;
}
.section-right {
	width: 745px;
	margin-left: 13px;
}
.section-none {
	width: 226px;
}
.section-left>h3 {
	font-weight: 500;
	font-size: 20px;
	color: #333;
	margin-bottom: 8px;
}
.section-left>a {
	display: block;	
}
.make-big {
	height: 385px;
	width: 240px;
	overflow: hidden;
	margin-bottom: 13px;
}
.make-little {
	height: 140px;
	width: 240px;
	overflow: hidden;
}
.section-right>a>p {
	font-size: 18px;
	line-height: 24px;
	color: #333;
	width: 167px;
	padding-top: 20px;
	text-overflow:ellipsis;
	white-space: nowrap;
	word-wrap:nowrap;
	margin-bottom: 15px;
	overflow: hidden;
}
.section-right>a>span {
	color: #e34535;
	font-size: 14px;
	display: block;
	margin-bottom: 15px;
}
.section-right>a>img {
	width: 167px;
	height: 167px;
}
.section-right>p {
	margin-bottom: 15px;
}
.section-right>p>a:first-child {
    padding: 0 10px 0 0;
}
.section-right>a {
	display: inline-block;
	float: left;
	text-align: center;
	width: 167px;
	padding: 0 40px;
	height: 268px; 
	background-color: #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.section-none {
	background-color: #fff;
	height: 538px;
}
.floor {
	background-color: #fff;
}
.floor-make {
	border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 27px 0;
}
.floor-make>div {
	width: 1224px;
	margin: 0 auto;
}
.floor-make>div>span {
	display: inline-block;
	width: 300px;
	text-align: center;
	color: #000;
	font-size: 20px;
	border-left: 1px solid #e7e7e7;
}
.floor-make>div>span>i {
	display: inline-block;
	background: url("../image/ico-tphsop-index.png") no-repeat -200px -40px;
	width: 49px;
	height: 56px;
	margin-right: 16px;
	vertical-align: middle;
}
.floor-make>div>span:first-child {
	border-left: 0;
}
.floor-make .make-0 {
	background-position: 0 -27px;
}
.floor-make .make-1 {
	background-position: -50px -27px;
}
.floor-make .make-2 {
	background-position: -100px -27px;
}
.floor-make .make-3 {
	background-position: -150px -27px;
}
.new-floor {
	border-bottom: 1px solid #e7e7e7;
}
.floor-more {
	width: 1224px;
	margin: 0 auto;
}
.floor-more>div {
	display: inline-block;
	float: left;
}
.floor-more>div:first-child {
	width: 1024px;
}
.floor-more>div:last-child  {
	width: 200px;
	padding: 20px 0;
}
.floor-more>div>span {
	font-size: 18px;
	color: #333;
    display:block;
    margin-bottom: 10px; 
}
.floor-more .fend {
	display: block;
	margin: 15px 0;
	width: 940px;
	color: #000;
	font-size: 14px;
}
.floor-more .first, .floor-more b {
	display: inline-block;
}
.floor-more .first {
	width: 865px;
	vertical-align: top;
}
.floor-more .first>a {
	display: inline-block;
	border-left: 1px solid #e7e7e7;
	padding: 0 10px;
	margin: 2px 0;
	color: #333;
	font-size: 14px;
}
.floor-more .first>a:hover {
	color: #e34535;
}
.floor-more .first>a:first-child  {
	border-left: 0;
}
.floor-more>div>p {
	color: #999;
	font-size: 12px;
	margin-bottom: 10px;
}
.floor-more>div>a {
	display: inline-block;
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.floor-more>div>a>img {
	width: 100%;
}
.floor-more .color {
	color: #e34535;
}
.floor-more>div>dl {
	float: left;
	width: 200px;
}
.floor-more>div>dl>dd {
	padding: 5px 0;
}
.floor-more>div>dl>dd>a {
	text-align: left;
	font-size: 14px;
	color: #666;
}
.floor-more>div>dl>dd>a:hover {
	color: #e34535;
}
.floor-more>div>dl>dt {
	font-size: 18px;
	color: #333;
	padding: 20px 0 0 0;
}
.over {
	background-color: #fff;
	padding: 25px 0 8px 0;
}
.new-over {
	width: 1224px;
	margin: 0 auto;
	text-align: center;
}
.new-over>span, .new-over>p {
	display: block;
	margin-bottom: 10px;
}
.new-over>span>a {
	display: inline-block;
	padding: 0 8px;
	color: #333;
	font-size: 14px;
	border-left: 1px solid #e7e7e7;
}
.new-over>span>a:first-child {
	border-left: 0
}
.new-over>span>p {
	font-size: 14px;
	color: #666;
}
.new-over>p>a {
	display: inline-block;
	width: 103px;
	height: 32px;
	overflow: hidden;
	margin-right: 5px;
	background:url("../image/ico_footer.png") no-repeat;	
}
.new-over .over-0 {
	background-position: 0 -150px;
}
.new-over .over-1 {
	background-position: -104px -150px;
}
.new-over .over-2 {
	background-position: 0 -184px;
}
.new-over .over-3 {
	background-position: -104px -184px;
}
.new-over .over-4 {
	background-position: 0 -217px;
}
.nav-fixed {
	position: fixed;
	left: 0;
	top: 50%;
}
.nav-fixed>a {
	display: block;
	width: 32px;
	height: 32px;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	line-height: 15px;
	color:#999;
	font-size: 12px;
	background-color: #fff; 
}
.nav-fixed>a>span {
	display: block;
	/*height: 15px;*/
	text-align: center;
}
.nav-fixed>a:hover {
	color: #fff;
	background-color: #999;
}
.nav-fixed .add {
	color: #fff;
	background-color: #999;
}
.nav-top {
	position: fixed;
	bottom: 10px;
	right: 19px;
	background-color: #fff;
}
.nav-top>a {
	position: relative;
	display: block;
	padding: 5px;
	width: 30px;
	height: 30px;

	border: 1px solid #e7e7e7;
	background-size: cover;
	background:url("../image/ico-tphsop-index.png") no-repeat;	 
}
.nav-top>a>div {
	position: absolute;
	text-align: center;
	font-size: 12px;
	padding: 5px;
	width: 30px;
	height: 30px;
	left: 0;
	top: 0;
	color: #fff;
	border: 1px solid #666;
	background-color: #666;
}
.nav-top .top-0 {
	background-position: -235px 0;
}
.nav-top .top-1 {
	background-position: -275px 0;
}
.nav-top .top-2 {
	background-position:  -235px -40px
}
.nav-top .top-3 {
	background-position: -275px -40px;
}