<!DOCTYPE html>
<html>

<head>

    <include file="Public/header" />

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑商品</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" action="{:U('save')}" method="post" target="_self" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">广告title</label>
                                <div class="col-sm-5">
                                    <?php if($data){ ?>
                                        <input type="hidden" name="id" value="<?php echo $data['id'];?>">
                                    <?php } ?>   
                                    <input type="text" class="form-control" name="title" value="<?php echo $data['title'];?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">image</label>
                                <div class="col-sm-5">
                                    <input type="file" name="image" value="">
                                    <input type="hidden" name="imagePath" value="<?php echo $data['image'];?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">url</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="url" value="<?php echo $data['url'];?>">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">位置</label>

                                <div class="col-sm-5">
                                    <select class="form-control m-b" name="position">
                                    <option value="1" <?php if($data['position']==1){ ?>
                                            selected="selected" <?php } ?>>>top</option>
                                    <option value="2" <?php if($data['position']==2){ ?>
                                            selected="selected" <?php } ?>>>middle</option>
                                    <option value="3" <?php if($data['position']==3){ ?>
                                            selected="selected" <?php } ?>>>bottom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">type</label>
                                <div class="col-sm-5">
                                    <select class="form-control m-b" name="type">
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button class="btn btn-white" type="reset">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <include file="Public/footer" />
</body>

</html>
